.calendar{
    &:after{display:table;content:'';clear:both;}
    .dash{
        position:relative;padding:15px 15px 12px;
        strong{font-family:Tahoma;font-weight:normal;font-size:20px;}
        .controller{
            position:absolute;top:6px;right:8px;
            button[type=button]{
                float:left;width:34px;height:30px;margin-left:-1px;border:1px solid #e5e5e5;border-radius:0;background-color:#fff;
            }
            button[type=button]:first-child{margin-left:0;}
        }
    }

    .week{
        float:left;
        width:100%;
        margin-top:-1px;
        border:1px solid #e5e5e5;

        &:first-child{margin-top:0;}

        &.names{
            background-color:#f7f7f7;
            > span{padding:8px 5px;font-weight:bold;}
            > span.sun{color:#e74c3c;}
            > span.sat{color:#3498db;}
        }

        .day {
            float:left;
            position:relative;
            box-sizing:border-box;
            width:14.28%;
            height: 30px;
            padding:4px;
            border-left:1px solid #e5e5e5;
            text-align:center;

            &:after{display:none;content:'';position:absolute;top:-1px;right:-1px;bottom:-1px;left:-1px;z-index:5;border:1px solid;}
            &:first-child{border-left:0;}
            &:nth-of-type(7n+1){color:#e74c3c;}
            &:nth-of-type(7n+7){color:#3498db;}
            .today{
                background-color:#dff0d8;
                &:after{display:block;border-color:#d6e9c6;}
            }

            &.different-month{color:#ccc;}
            &.selected:after{
                display:block;
                z-index:10;
                border-color:#3c763d;
            }
             span{position:absolute;top:2px;left:4px;font-family:Tahoma;font-size:11px;}
        }



    }



}


